/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}
input, textarea {
    color: #1e1e1e;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-top: 5px;
}
textarea {
    height: 290px;
    max-width: 457px;
    resize: none;
}



/*HEADER*/
header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 40px;
}
header img {
    border: 1px solid white;
    border-radius: 5px;
}
nav{
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(151, 151, 151);
}
/*INTRO*/
.intro{
    background-image: url(/images/fontdev_BackToTheFuture02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: auto;

}
.filter{
    background-color: #0c0c0cae;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome{
    max-width: 510px;
    margin-bottom: 100px;
}
.welcome span {
    font-size: 1.7rem;
}
.welcome h1 {
    font-size: 3rem;
    margin: 20px 0 20px 0;
}
.welcome p {
    line-height: 1.5;
}

.btnmoncv{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    border: 3px solid #0dcaf0;
    border-radius: 5px;
    color: #0dcaf0;
    background-color: #00000000;
    transition: 0.2s ease-in-out;
}
.btnmoncv:hover {
    background-color: #0dcaf0;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.mouseBtn i {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: 0.5s;
    color: white;
}
.mouseBtn i:hover {
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(0deg);
    cursor: pointer;
    color: rgb(39, 85, 172);
}

/*MAIN*/
/*ABOUT ME*/
.aboutme {
    background-color: #2e3135;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
figcaption img {
    border: 4px solid aliceblue;
    border-radius: 5px;
}
.card-about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px;
}
.description-about-me {
    max-width: 600px;
}
.description-about-me h2 {
    font-size: 35px;
    font-weight: lighter;
}
.introduction {
    margin: 15px 0 15px 0;
    font-size: 1.3rem;
    font-weight: lighter;
}
.introduction span {
    color: #dc3545 ;
    font-weight: bold;
    font-size: 1.5rem;
}
.description-about-me p {
    line-height: 1.5;
}
.reseauxBtn {
    background-color: #0d6dfd00;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-top: 15px;
    width: 38px;
    height: 38px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.reseauxBtn:hover {
    background-color: #0d6efd;
    color: #0d6efd;
    transition: 0.2s ease-in-out;
}
.bi {
    color: #0d6efd;
}
.bi:hover {
    color: aliceblue;
}

/*MY SKILL*/
.my-skill  {
    background-color: #1e1e1e;
}
.intro-myskill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 120vh;
    margin: auto;
    padding-top: 60px;
}
.intro-myskill h3 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;
}
.intro-myskill p {
    line-height: 1.5;
    padding: 10px;
    color: rgb(151, 151, 151);
}

.skillcards-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 160vh;
    margin: auto;
    padding: 60px 0 60px 0;
}
.card-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    width: 350px;
}
.card-skill img {
    margin: 25px;
}
.card-skill span {
    font-weight: bold;
    font-size: 24px;
}
.card-skill p {
    margin: 10px;
}
.card-skill button {
    background-color: #0d6efd;
    border: 3px solid #0d6efd;
    border-radius: 5px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 16px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.card-skill button:hover {
    filter: drop-shadow(0 0 0.55rem #0d6efd);
    transition: 0.2s ease-in-out;
}

/*CONTACT*/
.contact-me{
    background-color: #1e1e1e;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 200px; /*A VIRER QUAND FINIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
}
.contact-me h4 {
    font-size: 25px;
}
.contact-me span {
    color: #dc3545 ;
    font-weight: bold;
    font-size: 1.8rem;
}
.contact-me h5 {
    font-size: 23px;
    padding: 10px 0 50px 0;
    z-index: 20;
}
.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 50px;
}
.row-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
    gap: 50px;
}
.badfox{
    opacity: 1;
    position: absolute;
    width: 150px;
    bottom: 180px;
    left: 100px;
    transform: rotate(17deg);
    z-index: 10;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    position: relative;
}
.projet-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}
.send-contact {
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.send-contact:hover {
    filter: drop-shadow(0 0 0.55rem #0d6efd);
    transition: 0.2s ease-in-out;
}





/*NEW SLIDER-SKILL*/
.NewSkills{
    background-color: #1e1e1e;
}
.skillup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 140vh;
}
.slider-skill {
    width: 100%;
    border: 1px solid red;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient( 
        /*cette partie serre a gérer le fondu transparent de la barre des compétences*/
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider-skill .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider-skill .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    transition: filter 0.5s;/*transition pour le filter grayscale*/
    animation: autoRun 10s linear infinite;
    /*calculer l'animation delay pour chaque item (10s 10items et -1s pour un décalage d'une seconde entre chaque items*/
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1 ) )!important; /*attention: le "!important" est obligatoir ici car sinon les images du 2eme slider se superposent*/
}
.slider-skill .list .item img{
    width: 100%;
}

@keyframes autoRun {
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider-skill:hover .item{
    animation-play-state: paused!important;/*attention: le "!important" est obligatoir ici car sinon les images du 2eme slider stop pas leur animation*/
    filter: grayscale(1);
}
.slider-skill .item:hover{
    filter: grayscale(0);
}
.slider-skill[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}











.testblock {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.gallery {
    text-align: center;
}
.main-image-container {
    position: relative;
    width: 1000px;
    height: 800px;
    margin-bottom: 20px;
}
.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}
.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.thumbnail {
    width: 200px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.thumbnail:hover {
    transform: scale(1.05);
}