/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}


/*HEADER*/
header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 40px;
}
nav{
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(151, 151, 151);
}
/*INTRO*/
.intro{
    background-image: url(/images/fontdev_BackToTheFuture02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: auto;

}
.filter{
    background-color: #0c0c0cae;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome{
    max-width: 510px;
    margin-bottom: 100px;
}
.welcome span {
    font-size: 1.7rem;
}
.welcome h1 {
    font-size: 3rem;
    margin: 20px 0 20px 0;
}
.welcome p {
    line-height: 1.5;
}

.btnmoncv{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    border: 3px solid #0dcaf0;
    border-radius: 5px;
    color: #0dcaf0;
    background-color: #00000000;
    transition: 0.2s ease-in-out;
}
.btnmoncv:hover {
    background-color: #0dcaf0;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.mouseBtn i {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: 0.5s;
    color: white;
}
.mouseBtn i:hover {
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(0deg);
    cursor: pointer;
    color: rgb(39, 85, 172);
}

/*MAIN*/
/*ABOUT ME*/
.aboutme {
    background-color: #2e3135;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
figcaption img {
    border: 4px solid aliceblue;
    border-radius: 5px;
}
.card-about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px;
}
.description-about-me {
    max-width: 600px;
}
.description-about-me h2 {
    font-size: 35px;
    font-weight: lighter;
}
.introduction {
    margin: 15px 0 15px 0;
    font-size: 1.3rem;
    font-weight: lighter;
}
.introduction span {
    color: #dc3545 ;
    font-weight: bold;
    font-size: 1.5rem;
}
.description-about-me p {
    line-height: 1.5;
}
.reseauxBtn {
    background-color: #0d6dfd00;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-top: 15px;
    width: 38px;
    height: 38px;
    transition: 0.2s ease-in-out;
}
.reseauxBtn:hover {
    background-color: #0d6efd;
    color: #0d6efd;
    transition: 0.2s ease-in-out;
}
.bi {
    color: #0d6efd;
}
.bi:hover {
    color: aliceblue;
}

/*MY SKILL*/
.my-skill  {
    background-color: #1e1e1e;
}
.intro-myskill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 120vh;
    margin: auto;
    padding-top: 60px;
}
.intro-myskill h3 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;
}
.intro-myskill p {
    line-height: 1.5;
    padding: 10px;
    color: rgb(151, 151, 151);
}

.skillcards-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 120vh;
    margin: auto;
    padding: 60px 0 60px 0;
}
.card-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    width: 350px;
}
.card-skill img {
    margin: 25px;
}
.card-skill span {
    font-weight: bold;
    font-size: 24px;
}
.card-skill p {
    margin: 10px;
}
.card-skill button {
    background-color: #0d6efd;
    border: 3px solid #0d6efd;
    border-radius: 5px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}
.card-skill button:hover {
    filter: drop-shadow(0 0 0.55rem #0d6efd);
    transition: 0.2s ease-in-out;
}

/*CONTACT*/
.contact-me{
    background-color: #1e1e1e;
}
