/*General*/
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}
input, textarea {
    color: #1e1e1e;
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-top: 5px;
}
textarea {
    height: 290px;
    max-width: 457px;
    resize: none;
}



/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 40px;
    z-index: 5;
    transition: 0.5s ease;
}
header img {
    background-color: #1e1e1e;
    border: 1px solid white;
    border-radius: 5px;
}
header img:hover {
    filter: drop-shadow(0 0 0.45rem #fff);
    transition: 0.3s ease-in-out;
}
.burger-wrap {
    display: none;
}
.nav-link-burger{
    display: none;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-menu {
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(151, 151, 151);
    transition: 0.4s ease-in-out;
    position: relative;
}
nav a:hover{
    color: aliceblue;
    filter: drop-shadow(0 0 0.45rem #fff);
    transition: 0.4s ease-in-out;
}
nav a span:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #0d6efd;
    border-left: 2px solid #0d6efd;
    transition: .2s;
    opacity: 0;
}
    nav a:hover span:first-child:before {
        top: -5px;
        left: -5px;
        opacity: 1;
    }

nav a span:last-child:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #0d6efd;
    border-right: 2px solid #0d6efd;
    transition: .2s;
    opacity: 0;
}
    nav a:hover span:last-child:after {
        bottom: -5px;
        right: -5px;
        opacity: 1;
    }
.panel-music {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.panel-music img {
    background-color: #1e1e1e00;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.fixed{
    transition: 0.5s ease;
    background-color: #1d1d1d;
    padding-top: 5px;
    padding-bottom: 5px;
}
.slider-music {
    opacity: 1;
    max-width: 15em;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    }
    .slider-music > :first-child {
        display: inline-block;
        padding-right: 2em;
        padding-left: 100%;
        white-space: nowrap;
        animation: music-title 15s infinite linear;
    }
.hidden-music{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
@keyframes music-title {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}



/*INTRO*/
.intro{
    background-image: url(/images/fontdev_BackToTheFuture02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: auto;

}
.filter{
    background-color: #0c0c0cae;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome{
    max-width: 510px;
    margin-bottom: 100px;
}
.welcome span {
    font-size: 1.7rem;
}
.welcome h1 {
    font-size: 3rem;
    margin: 20px 0 20px 0;
}
.welcome p {
    line-height: 1.5;
}

.btnmoncv{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    border: 3px solid #0dcaf0;
    border-radius: 5px;
    color: #0dcaf0;
    background-color: #00000000;
    transition: 0.2s ease-in-out;
}
.btnmoncv:hover {
    background-color: #0dcaf0;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.mouseBtn i {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(180deg);
    transition: 0.5s;
    color: white;
}
.mouseBtn i:hover {
    bottom: 30px;
    transform: translate(-50%, -50%) rotate(0deg);
    cursor: pointer;
    color: rgb(39, 85, 172);
}


/*MAIN*/
/*ABOUT ME*/
.aboutme {
    background-color: #2e3135;
    display: flex;
    justify-content: center;
}
.catbox {
    max-width: 650px;
}
figcaption img {
    border: 4px solid aliceblue;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    transition: 0.2s ease;
}
figcaption img:hover{
    filter: drop-shadow(0 0 0.25rem rgb(240, 248, 255));
    transition: 0.2s ease;
}
.card-about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 10px;
}
.description-about-me {
    max-width: 600px;
}
.description-about-me h2 {
    font-size: 35px;
    font-weight: lighter;
}
.introduction {
    margin: 15px 0 15px 0;
    font-size: 1.3rem;
    font-weight: lighter;
}
.introduction span {
    color: #dc3545 ;
    font-weight: bold;
    font-size: 1.5rem;
}
.description-about-me p {
    line-height: 1.5;
}
.reseauxBtn {
    background-color: #0d6dfd00;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-top: 15px;
    width: 38px;
    height: 38px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.reseauxBtn:hover {
    background-color: #0d6efd;
    color: #0d6efd;
    transition: 0.2s ease-in-out;
}
.bi {
    color: #0d6efd;
}
.bi:hover {
    color: aliceblue;
}



/*MY SKILL*/
.my-skill  {
    background-color: #1e1e1e;
    padding-top: 60px;
    padding-bottom: 40px;
}
.intro-myskill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 120vh;
    margin: auto;
}
.intro-myskill h3 {
    font-size: 2rem;
    font-weight: lighter;
}
.intro-myskill p {
    margin: 20px 0 50px 0;
    line-height: 1.5;
    padding: 10px;
    color: rgb(151, 151, 151);
}
.soutient {
    text-decoration: none;
    font-weight: bold;
    color: #dc3545;
    transition: 0.2s ease-in-out;
}
.soutient:hover {
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 0.45rem #fff);
}

.slider-skill {
    margin: auto;
    max-width: 1200px;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider-skill .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider-skill .list .logoskills {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 15s linear infinite;
    animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1) );
    transition: 0.2s;
}
.slider-skill .list .logoskills img {
    width: 100%;
}
@keyframes autoRun {
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
/* .slider-skill:hover .logoskills{
    animation-play-state: paused;
    filter: grayscale(1);
}
.slider-skill .logoskills:hover{
    filter: grayscale(0);
    scale: 1.2;
    transition: 0.2s;
    z-index: 10;
} */






/*MY CREATIONS*/
.carousel {
    position: relative;
    height: 900px;
    background-color: #2e3135;
        display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.item .info-box {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    height: 280px;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    mask-image: linear-gradient(
        to top,
        transparent,
        #000 10% 90%,
        transparent);
}
.info-box .info-slider {
    height: inherit;
    transition: .5s ease;
}
.info-slider .info-item {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    transform: translateY(calc(var(--i) * 100%));
}
.info-item h2 {
    font-size: 40px;
    line-height: 1;
}
.info-item p {
    font-size: 16px;
    line-height: 1.5;
    margin: 15px 0 20px;
}
.info-item .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.item .img-box {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 1100px; 
    max-height: 620px; 
    display: flex;
    align-items: center;
    overflow: hidden;
    filter: drop-shadow(5px 5px 0.55rem #ffffff50);
    border-radius: 10px;
}
.img-box .img-slider {
    max-width: inherit; 
    max-height: inherit; 
    transition: .5s ease;
}
.img-slider .img-item {
    max-width: inherit; 
    max-height: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(calc(var(--i) * 100%));
}
.img-item img {
    max-width: 100%; 
    max-height: 100%; 
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    transform: scale(0);
    transition: .5s ease;
}
.item.active .img-item img {
    width: inherit;
    transform: scale(1);
}

.thumb {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    transition: 0.5s ease-in-out;
}
.thumb li {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 20px 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.thumb li:hover{
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0 0 0.25rem #fff);
}
.thumb li.selected{
    border: 3px solid #fff;
}
.thumb li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*CONTACT*/
.contact-me{
    background-color: #1e1e1e;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact-me h4 {
    font-size: 25px;
}
.contact-me span {
    color: #dc3545 ;
    font-weight: bold;
    font-size: 1.8rem;
}
.contact-me h5 {
    font-size: 23px;
    padding: 10px 0 50px 0;
    z-index: 20;
}
.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 50px;
}
.row-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
    gap: 50px;
}
.user-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    position: relative;
    border: none;
}
        .badfox{
            opacity: 1;
            position: absolute;
            width: 150px;
            bottom: 180px;
            left: 100px;
            transform: rotate(17deg);
            z-index: 10;
            transition: 0.4s ease;
            pointer-events: none;
            filter: drop-shadow(0 0 0.35rem rgb(0, 0, 0));
        }
        .displayfox{
            opacity: 0;
            transition: 0.4s ease;
        }
        .badfox2{
            opacity: 1;
            position: absolute;
            width: 150px;
            bottom: 40px;
            right: 245px;
            z-index: 10;
            transition: 0.4s ease;
            pointer-events: none;
            filter: drop-shadow(0 0 0.55rem rgb(0, 0, 0));
        }
        .displayfox2 {
            transition: 0.4s ease;
            opacity: 0;
        }
        .badfox3{
            opacity: 1;
            position: absolute;
            width: 150px;
            top: 195px;
            right: -20px;
            transform: rotate(130deg);
            z-index: 10;
            transition: 0.4s ease;
            pointer-events: none;
            filter: drop-shadow(0 0 0.55rem rgb(0, 0, 0));
        }
        .displayfox3{
            transition: 0.4s ease;
            opacity: 0;
        }
.projet-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    position: relative;
}
        .badfox4{
            opacity: 1;
            position: absolute;
            width: 150px;
            top: -68px;
            left: 140px;
            transition: 0.4s ease;
            z-index: 10;
            pointer-events: none;
            filter: drop-shadow(0 0 0.55rem rgb(0, 0, 0));
        }
        .displayfox4{
            transition: 0.4s ease;
            opacity: 0;
        }
        .badfox5{
            opacity: 1;
            position: absolute;
            width: 150px;
            top: 295px;
            left: 290px;
            transition: 0.4s ease;
            z-index: 10;
            pointer-events: none;
            filter: drop-shadow(0 0 0.55rem rgb(0, 0, 0));
        }
        .displayfox5{
            transition: 0.4s ease;
            opacity: 0;
        }
        
.send-contact {
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.send-contact:hover {
    filter: drop-shadow(0 0 0.55rem #0d6efd);
    transition: 0.2s ease-in-out;
}


/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #2e3135;
    color: aliceblue;
    padding: 50px;
}



/*------ RESPONSIVE (slider responsive at the end of .CSS------*/

@media (max-width: 1023px) {
    nav{
        display: none;
    }
    /*BURGER-MENU*/
    .burger-wrap {
        position: relative;
        width: 50px; 
        height: 50px; 
        background: #1e1e1e;
        border: 1px solid white;
        border-radius: 5px; 
        cursor: pointer;
        display: flex;
        transition: 0.3s ease-in-out;
    }
    .burger-wrap:hover {
        filter: drop-shadow(0 0 0.45rem #fff);
        transition: 0.3s ease-in-out;
    }
    .burger-icon {
        position: relative;
        width: 40px; 
        height: 35px; 
        margin: auto;
        display: flex;
        align-items: center;
        transform: rotate(0);
        transition: 1s;
    }
    .burger-wrap.active .burger-icon{
        transform: rotate(315deg);
    }
    .burger-icon span{
        position: absolute;
        display: block;
        height: 7px; 
        background: linear-gradient(45deg, rgb(17, 147, 156), #000);
        border: 2px solid rgb(15, 144, 153);
        border-radius: 5px; 
        box-shadow: 
            0 0 5px rgba(0, 238, 255, 0.466),
            0 0 10px rgba(0, 238, 255, 0.425);
            transition: .3s;
            transition-delay: 1s;
    }
    .burger-icon span:nth-child(1) {
        top: 0;
        left: 0;
        width: 50%;
    }
    .burger-wrap.active span:nth-child(1) {
        width: 100%;
        transform: translateY(13px); 
        transition-delay: 0s;
    }
    .burger-icon span:nth-child(2) {
        width: 100%;
        transform: scaleX(1);
        opacity: 1;
    }
    .burger-wrap.active span:nth-child(2) {
        transform: scaleX(0);
        opacity: 0;
        transition-delay: 0s;
    }
    .burger-icon span:nth-child(3) {
        bottom: 0;
        right: 0;
        width: 50%;
    }
    .burger-wrap.active span:nth-child(3) {
        bottom: 15px;
        width: 100%;
        transform: rotate(90deg);
        transition-delay: 0s;
    }


    .nav-link-burger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        line-height: 3;
        position: absolute;
        top: 90px;
        left: 0px;
        width: 200px;
        backdrop-filter: blur(5px);
        padding: 15px;
        border: 2px solid grey;
        border-radius: 0 15px 15px 0;
        transition: 0.5s ease-in-out;
        background-color: #1e1e1e;
    }
    .nav-link-burger{
        left: -210px;
        transition: 0.5s ease-in-out;
    }
    .nav-link-burger a{
        color: aliceblue;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }
    .nav-link-burger a:hover{
        scale: 1.1;
        transition: 0.2s ease-in-out;
    }
    .panel-music-burger {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .panel-music-burger img {
        background-color: #1e1e1e00;
        border: none;
        padding: 5px;
        cursor: pointer;
    }
}



@media (max-width: 767px) {
    .badfox2{
        transform: scaleX(-1);
        bottom: 40px;
        right: -55px;
    }

    .badfox5{
        top: 365px;
        left: 200px;
        
    }
}










/*------ SLIDER RESPONSIVE ONLY HERE ------*/
@media (max-width: 1780px) {    
    .thumb {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        right: 25%;
        top: 93%;
        transition: 0.5s ease-in-out;
        }
    .item .info-box {
        transition: 0.5s ease-in-out;
        width: 380px;
    }
}



@media (max-width: 1590px) {  
    .carousel {
        position: relative;
        height: 900px;
        background-color: #2e3135;
    }
    
    .item .info-box {
        position: absolute;
        left: 55%; /*modif*/
        top: 750px; /*modif*/
        transform: translateY(-50%);
        width: 450px;
        height: 280px;
        display: flex;
        align-items: center;
        z-index: 1;
        overflow: hidden;
    }
    .info-box .info-slider {
        height: inherit;
        transition: .5s ease;
    }
    .info-slider .info-item {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: aliceblue;
        transform: translateY(calc(var(--i) * 100%));
    }
    .info-item h2 {
        font-size: 40px;
        line-height: 1;
    }
    .info-item p {
        font-size: 16px;
        line-height: 1.5;
        margin: 15px 0 20px;
    }
    .info-item .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 48px;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        font: 16px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }
    
    .item .img-box {
        position: absolute;
        left: 50%; /*modif*/
        top: 350px; /*modif*/
        transform: translate(-50%, -50%); /*modif*/
        width: 1000px; /*modif*/
        height: 620px; /*modif*/
        display: flex;
        align-items: center;
        overflow: hidden;
        filter: drop-shadow(5px 5px 0.55rem #ffffff50);
        border-radius: 10px;
    }
    .img-box .img-slider {
        max-width: inherit; 
        max-height: inherit; 
        transition: .5s ease;
    }
    .img-slider .img-item {
        max-width: inherit; 
        max-height: inherit; 
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(calc(var(--i) * 100%));
        border-radius: 20px;/*modif*/
        overflow: hidden;/*modif*/
    }
    .img-item img {
        max-width: 100%; 
        max-height: 100%; 
        pointer-events: none;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
        transform: scale(0);
        transition: .5s ease;
    }
    .item.active .img-item img {
        width: inherit;
        transform: scale(1);
    }
    
    .thumb {
        position: absolute;
        right: 47%; /*modif*/
        top: 750px; /*modif*/
        transform: translateX(-50%); /*modif*/
        transform: translateY(-50%); /*modif*/
        list-style: none;
        transition: 0.5s ease-in-out;
    }
    .thumb li {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        margin: 20px 0;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }
    .thumb li:hover{
        transition: 0.3s ease-in-out;
        filter: drop-shadow(0 0 0.25rem #fff);
    }
    .thumb li.selected{
        border: 3px solid #fff;
    }
    .thumb li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media (max-width: 1023px) {

    .item .info-box {
        position: absolute;
        left: 50%; /*modif*/
        top: 730px; /*modif*/
        text-align: center; /*add*/
        transform: translate(-50%, -50%); /*modif*/
        width: 350px; /*modif*/
        height: 280px; /*modif*/
    }
    .info-item .btn {
        margin-left: auto; /*add*/
        margin-right: auto; /*add*/
    }
    
    .item .img-box {
        top: 250px; /*modif*/
        width: 700px; /*modif*/
        height: auto; /*modif*/
    }
        
    .thumb {
        left: 50%; /*modif*/
        top: 525px; /*modif*/
        transform: translate(-50%, -50%); /*add*/
        width: 550px;/*add*/
    }
}

@media (max-width: 719px) {

    .item .info-box {
        position: absolute;
        left: 50%; /*modif*/
        top: 690px; /*modif*/
        text-align: center; /*add*/
        transform: translate(-50%, -50%); /*modif*/
        width: 350px; /*modif*/
        height: 280px; /*modif*/
    }
    .info-item .btn {
        margin-left: auto; /*add*/
        margin-right: auto; /*add*/
    }
    
    .item .img-box {
        top: 150px; /*modif*/
        width: 395px; /*modif*/
        height: auto; /*modif*/
    }
        
    .thumb {
        justify-content: center;
        left: 50%; /*modif*/
        top: 420px; /*modif*/
        transform: translate(-50%, -50%); /*add*/
        width: 400px;/*add*/
    }
}


